accelerate>=0.26.0
qwen-vl-utils[decord]
ipykernel
git+https://github.com/huggingface/transformers
torch 
torchvision 
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu126
datasets
opencv-python
librosa
faster_whisper
yt-dlp